# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
*.log
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
